<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="main.css"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>Pedro Garcia</title>
</head>
<body class="w-fit lg:w-full">
    <nav id="main-header" class="h-fit grid">
        <div class="px-6">
            <div class="mx-auto gap-x-96 place-content-center">
                <div class="md:float-right hidden my-1 md:mr-auto md:inline md:mt-2 md:ml-auto font-bold">
                    <h3 class="md:text-3xl text-2xl text-cyan-300 whitespace-nowrap mx-auto md:-ml-24">Pedro <span class="text-cyan-400">Garcia</span></h3>
                </div>
                <ul class="flex place-content-center w-full md:w-auto float-left mx-auto md:mt-0 md:ml-12 lg:ml-24 space-x-3 md:space-x-6  text-white font-medium">
                    <li id="nav-item1" class="nav-item bg-cyan-600 p-4 rounded-sm shadow-md">Información</li>
                    <li id="nav-item2" class="nav-item bg-cyan-600 p-4 rounded-sm shadow-md">Proyectos</li>
                    <li id="nav-item3" class="nav-item bg-cyan-600 p-4 rounded-sm shadow-md">Contacto</li>
                </ul>
            </div>
        </div>
    </nav>
    
    <main>
        
        <div class="bg-cyan-800 h-fit">
            <div class="filter-6">
                <div class="container text-8xl p-6 md:p-28 py-28 md:py-44 grid md:grid-cols-2 mx-auto gap-3">
                    <div>
                        <div class="grid grid-cols-1 place-content-center">
                            <h1 class="text-white mx-6 md:mx-0 font-bold">Hola</h1>
                            <h1 class="text-white mx-6 md:mx-0 font-bold">Soy</h1>
                            <h1 class="text-cyan-500 mx-6 md:mx-0 font-bold text-shadow-md">Pedro<span class="text-cyan-600  md:mx-0"> Garcia.</span></h1>
                            <h3 class="text-amber-400 mx-auto md:mx-0 text-2xl font-semibold mt-4 mb-6">Desarrollador Web</h3>
                        </div>
                        <div class="grid grid-cols-4 w-full lg:w-1/2">
                            <a href="https://www.linkedin.com/in/pedro-garcia-949835205/" target="_blank" class="social-link w-10 h-10 mx-auto md:mx-0 rounded-lg cursor-pointer"><img src="./images/icons/linkedin.svg"/></a>
                            <a href="https://www.instagram.com/pedrogarcia49/"  target="_blank" class="social-link w-10 h-10 mx-auto md:mx-0 rounded-lg cursor-pointer"><img src="./images/icons/instagram.svg"/></a>
                            <a href="https://github.com/pedrogarcia49"  target="_blank" class="social-link w-10 h-10 mx-auto md:mx-0 rounded-lg cursor-pointer"><img src="./images/icons/github.svg"/></a>
                            <a href="mailto:contacto@pedrogarciaweb.com"  target="_blank" class="social-link w-10 h-10 mx-auto md:mx-0 rounded-lg cursor-pointer"><img src="./images/icons/mail.svg"/></a>
                        </div>
                    </div>
        
                    <div class="w-full grid place-content-center mt-6 md:-mt-24 lg:mt-0">
                        <div id="profile-container" class="w-3/4 md:w-full lg:w-2/3 h-fit mx-auto">
                            <img id="profile-image" src="./images/pedro.png"/>
                        </div>
                    </div>
                    
                </div>
        
            </div>
        </div>

        <div id="informacion" class="bg-cyan-500 text-white">
            <div class="filter-3">
                <div class="h-full container mx-auto pt-20 pb-24 md:pb-32">

                    <div class="mb-16">
                        <h2 class="text-5xl text-center font-bold text-shadow-md">Información</h2>
                    </div>
                    
                    <div class="filter-blur-solid rounded-sm m-2 p-8 lg:grid grid-cols-2 gap-2">
                        <div class="mb-12 columns-1 text-xl grid place-content-center my-auto md:text-2xl p-4 ">
                            <p class="mb-4">Hola, soy Pedro! Desarrollador web con sede en Entre Ríos, Argentina <img class="inline-block mx-1 w-8" src="./images/icons/argentina.png"/></p>
                            <p class="mb-6">Conocedor de multiples tecnologías web en constante búsqueda de crecer profesionalmente. Apto para trabajar, en equipo tanto como individualmente, de forma remota o prescencial. De rápido aprendizaje y adhesión a proyectos.</p>
                            <a href="./files/cv.pdf" download="Pedro Garcia" class="bg-amber-400 hover:bg-amber-500 cursor-pointer text-center mt-4 mb-12 p-1 text-black">Descargar CV <img class=" w-8 inline-block" src="./images/icons/download.svg"/></a>
                            <p>La web esta en constante cambio, hoy en día ya no es un conjunto de información en forma de texto plano, para realizar una aplicación web y concretar su despliegue de forma completa se requiere del conocimiento de una variedad de tecnologías. A continuacíon una lista de las tecnologías con las que trabajo:</p>
                        </div>
                        <div class="columns-1">
                            <h3 class="text-4xl text-center mb-12 font-medium text-shadow-md">Tecnologías</h3>

                            <div class="text-xl md:p-4 w-full mx-auto lg:text-3xl grid grid-cols-2 gap-4">
                
                                <div id="frontend-ctn" class="bg-teal-600 rounded-sm shadow-xl">
                                    <div class="bg-teal-700 rounded-t-sm w-full p-2 h-14 text-3xl text-center">
                                        <label class="text-amber-400 font-semibold">Front-end</label>
                                    </div>
                                    <ul id="frontend" class="p-8">
                                        <li id="li-html" class="ml-8 my-2">HTML</li>
                                        <li id="li-css" class="ml-8 my-2">CSS</li>
                                        <li id="li-js" class="ml-8 my-2">JavaScript</li>
                                        <li id="li-react" class="ml-8 my-2">React</li>
                                        <li id="li-bootstrap" class="ml-8 my-2">Bootstrap</li>
                                        <li id="li-tailwind" class="ml-8 my-2">Tailwind</li>
                                    </ul>
                                </div>
                                
                                <div id="backend-ctn" class="bg-cyan-600 rounded-sm shadow-xl">
                                    <div class="bg-cyan-700 rounded-t-sm w-full p-2 h-14 text-3xl text-center">
                                        <label class="text-amber-400 font-semibold">Back-end</label>
                                    </div>
                                    <ul id="backend" class="p-8">
                                        <li id="li-node" class="ml-8 my-2">NodeJs</li>
                                        <li id="li-express" class="ml-8 my-2">Express</li>
                                        <li id="li-mysql" class="ml-8 my-2">MySQL</li>
                                        <li id="li-bash" class="ml-8 my-2">Bash</li>
                                        <li id="li-nginx" class="ml-8 my-2">Nginx</li>
                                    </ul>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    
        </div>

        <div id="proyectos" class="grid place-content-center text-white bg-cyan-700">
            <div class="filter-blur pb-28">

                <div class="w-fit p-2 pt-16 md:p-24 md:pt-20 md:pb-4 md:px-4">
                    <div class="mb-12">
                        <h2 class="text-5xl text-center font-bold text-shadow-md">Proyectos</h2>
                    </div>
                    <div class="h-full md:p-2 lg:px-4">
    
                        <div class="proyectos">
    
                            <div class="hidden" proyecto>
                                <div class="text-xl text-black bg-amber-400 w-fit px-2">1 / 3</div>
                                <div class="lg:grid grid-cols-2 shadow-xl">
                                    <div proyecto-ctn class="flex place-content-center">
                                        <video autoplay loop muted playsinline src="/video/gym-app"></video>
                                    </div>
                                    <div class="project-filter rounded-r-sm p-12 grid place-content-start h-64 md:h-full">
                                        <h3 class="text-amber-400 text-2xl md:text-3xl lg:text-4xl font-bold">Aplicacion gimnasio</h3>
                                        <p class="text-md md:text-lg lg:text-2xl mt-8 text-white">Aplicacion de gestion de usuarios para gimnasio con base de datos, sistema de suscripciones, busqueda y check-in para usuarios</p>
                                        <div class="grid gap-2 mt-6 mb-1 lg:mt-20 xl:mt-56">
                                            <a href="https://github.com/pedrogarcia49/gym-app" target="blank__" class="bg-amber-400 hover:bg-amber-500 cursor-pointer rounded-sm text-center p-1 xl:p-2 text-black">Ver repositorio</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="hidden" proyecto >
                                <div class="text-xl text-black bg-amber-400 w-fit px-2">2 / 3</div>
                                <div class="lg:grid grid-cols-2 shadow-xl">
                                    <div proyecto-ctn class="flex place-content-center">
                                        <video autoplay loop muted playsinline src="/video/simon"></video>
                                    </div>
                                    <div class="project-filter w-full rounded-r-sm p-12 grid place-content-start h-64 md:h-full">
                                        <h3 class="text-amber-400 text-2xl md:text-3xl lg:text-4xl font-bold">Juego Simon</h3>
                                        <p class="text-md md:text-lg lg:text-2xl mt-8 text-white">Aplicacion de gestion de usuarios para gimnasio con base de datos, sistema de suscripciones, busqueda y check-in para usuarios</p>
                                        <div class="grid grid-cols-2 gap-2 mt-6 mb-1 lg:mt-20 xl:mt-56">
                                            <a href="/simon" target="blank__" class="block columns-1 bg-amber-400 hover:bg-amber-500 cursor-pointer rounded-sm text-center p-1 xl:p-2 text-black">Jugar!</a>
                                            <a href="https://github.com/pedrogarcia49/gym-app" target="blank__" class="block columns-1 bg-amber-400 hover:bg-amber-500 cursor-pointer rounded-sm text-center p-1 xl:p-2 text-black">Ver repositorio</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="hidden" proyecto >
                                <div class="text-xl text-black bg-amber-400 w-fit px-2">3 / 3</div>
                                <div class="md:grid grid-cols-2 shadow-xl">
                                    <div class="container w-full" proyecto-img-ctn>
                                        <img src="images/tictactoe.png" class="proyecto-img   rounded-l-sm h-full"/>
                                    </div>
                                    <div class="project-filter rounded-r-sm p-12 grid place-content-start h-64 md:h-full">
                                        <h3 class="text-amber-400 text-2xl md:text-3xl lg:text-4xl font-bold">Juego Tic-Tac-Toe</h3>
                                        <p class="text-md md:text-lg lg:text-2xl mt-8 text-white">Tres en linea tradicional</p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
                        <div class="columns-2 gap-0">
                            <div id="slide-left" class="p-3 my-auto shadow-xl rounded-bl-md bg-slate-700 hover:bg-slate-800  bg-opacity-80 hover:bg-opacity-80 grid place-content-center text-2xl cursor-pointer"> <</div>
        
                            <div id="slide-right" class="p-3 my-auto shadow-xl rounded-br-md bg-slate-700 hover:bg-slate-800 bg-opacity-80 hover:bg-opacity-80 grid place-content-center text-2xl cursor-pointer"> ></div>
                        </div>
    
                        
                    </div>
                </div>
            </div>
        </div>
        
    <div class="h-fit bg-cyan-400 text-white py-12 p-6 grid place-content-center">
        <h2 class="text-5xl text-center font-semibold text-shadow-md">Contacto</h2>
        <div class="p-2 grid">
            <div class="mt-12 bg-cyan-300 shadow-md w-fit p-16 py-24 rounded-sm">
                <form class="grid gap-4 text-xl text-neutral-600" action="https://formsubmit.co/contacto@pedrogarciaweb.com" method="POST">
                    <label>Nombre completo</label>
                    <input class="p-2 pr-24 block" type="text" name="name" placeholder="Tu nombre" required/>
                    <label>Correo electronico</label>
                    <input class="p-2 pr-24 block" type="email" name="email" placeholder="nombre@email.com" required/>
                    <label>Mensaje</label>
                    <textarea class="p-2 pr-24 pb-4 block" name="message" placeholder="Hola! este es un mensaje de ejemplo" required></textarea>
                    <button id="submit" class="bg-amber-400 px-24 shadow-md rounded-sm mt-4 p-1 text-black" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    </main>
</body>
<script src="./main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
</html>